<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----------- Fonts ----------->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!----------- Scripts ----------->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ephesis&family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/final.css" />
    <title>SMKN 4 Palangkaraya</title>
  </head>
  <body class="overflow-x-hidden">
    <%- include('../partials/nafbar') %>
    <main><%- body %></main>
    <%-include('../partials/footer') %>
    <script>
      function menu(e) {
        console.log(e.name);
        let lists = document.querySelector('ul');
        e.name === 'menu-outline'
          ? ((e.name = 'close-outline'),
            lists.classList.remove('opacity-0'),
            lists.classList.remove('top-[-300px]'),
            lists.classList.add('opacity-100'))
          : ((e.name = 'menu-outline'),
            lists.classList.remove('opacity-100'),
            lists.classList.add('top-[-300px]'),
            lists.classList.add('opacity-0'));
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/postNews.js"></script>
    <script>
      const swiper = new Swiper('.swiper', {
        // Optional parameters
        autoplay: {
          delay: 4000,
          disableOnInteraction: false,
        },
        loop: true,

        // If we need pagination
        pagination: {
          el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
      });
    </script>
  </body>
</html>
