<% layout('layouts/boilerplate') %>
<section>
  <div class="container mt-20">
    <div
      id="error-msg"
      class="w-screen flex justify-center flex-col items-center text-slate-700"
    >
      <h1 class="py-5 font-semibold text-xl">Buat Data Siswa Baru</h1>
      <form
        id="create-siswa-button"
        class="flex flex-col h-auto w-[280px] mb-[40px]"
      >
        <label for="nama">Nama Siswa</label>
        <input
          id="nama"
          type="text"
          name="nama"
          class="mb-5 ring-2 rounded-sm py-1 px-2"
        />

        <label for="umur">Umur</label>
        <input
          id="umur"
          type="number"
          name="umur"
          class="mb-5 ring-2 rounded-sm py-1 px-2"
        />

        <label for="alamat">Alamat</label>
        <input
          id="alamat"
          type="text"
          name="alamat"
          class="mb-5 ring-2 rounded-sm py-1 px-2"
        />

        <label for="nik">NIK</label>
        <input
          maxlength="16"
          id="nik"
          type="text"
          name="nik"
          class="mb-5 ring-2 rounded-sm py-1 px-2"
        />

        <label for="ttl">Tempat dan Tanggal Lahir</label>
        <input
          id="ttl"
          type="text"
          name="ttl"
          class="mb-5 ring-2 rounded-sm py-1 px-2"
        />

        <label for="kelas">Kelas dan Jurusan</label>
        <input
          id="kelas"
          type="text"
          name="kelas"
          class="mb-5 ring-2 rounded-sm py-1 px-2"
        />

        <label for="angkatan">Angkatan</label>
        <input
          id="angkatan"
          type="number"
          name="angkatan"
          class="mb-5 ring-2 rounded-sm py-1 px-2"
        />

        <label for="nomorPonsel">No Ponsel Siswa</label>
        <input
          id="nomorPonsel"
          type="text"
          name="nomorPonsel"
          class="mb-5 ring-2 rounded-sm py-1 px-2"
        />

        <label for="nomorPonselOrangtua">No Ponsel Orangtua atau Wali</label>
        <input
          id="nomorPonselOrangtua"
          type="text"
          name="nomorPonselOrangtua"
          class="mb-5 ring-2 rounded-sm py-1 px-2"
        />

        <label for="waliKelas">Wali Kelas</label>
        <select name="waliKelas" id="waliKelas">
          <% allGuru.forEach(e => { %> <% if (e._id.equals(user._id)) { %>
          <option value="<%= e._id %>" selected><%= e.nama %></option>
          <% } else {%>
          <option value="<%= e._id %>"><%= e.nama %></option>
          <% } %> <% }) %>
        </select>

        <!-- <label for="foto">Foto siswa</label>
        <input
          id="foto"
          type="file"
          accept="image/*"
          name="foto"
          class="mb-5 ring-2 rounded-sm py-1 px-2"
        /> -->
        <button
          id="registerSiswaBtn"
          class="py-3 px-1 bg-sky-400 rounded-lg font-semibold text-white mt-3"
          type="submit
        "
        >
          Buat Data
        </button>
      </form>
    </div>
  </div>
</section>
